@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #74BDF6;
  --color-secondary: #4D46E1;
  --color-accent: #EEBB41;
  --color-base-100: #ffffff;
  --color-base-200: #5386BF;
  --color-base-300: #d9d9d9;
  --color-accent-content: #001931;
  --color-warning: #ffc107;
  --color-error: #ff3d00;
  --color-success: #4caf50;
}

/* a.active {
  @apply bg-linear-to-br from-primary to-secondary text-transparent bg-clip-text font-medium;
} */
